# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Drizzle
# Get the Database URL from the "prisma" dropdown selector in PlanetScale. 
# Change the query params at the end of the URL to "?ssl={"rejectUnauthorized":true}"
DATABASE_URL='mysql://va56kd4xpkjz3tg6ix5n:pscale_pw_YCVgIyMd4GytJ9eFZiFPSu07G6boVXaSc93WlsxokzR@aws.connect.psdb.cloud/bikinsoal?ssl={"rejectUnauthorized":true}'

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Next Auth Google Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

OPENAI_API_KEY=